root = true

[*.cs]
dotnet_diagnostic.MVVMTK0042.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.CS8625.severity = none
dotnet_diagnostic.CS8622.severity = none
dotnet_diagnostic.CS8767.severity = none
dotnet_diagnostic.CA1859.severity = none

# All files
[*]
indent_style = space
indent_size = 4

# Xml files
[*.xml]
indent_size = 2

# Json files
[*.json]
indent_size = 2
